<ul class="Students_list">
    {{#each Students}}
    <div>
        <h3>{{this.name}}</h3>
        <a href="/students/{{this.slug}}">
            <img src="{{this.image}}" style="width:200px">
        </a>
        <h4>{{this.address}}</h4>
    </div>
    {{/each}}
</ul>