<form>
    <div class="mb-3">
        <label for="search-input">Từ khóa</label>
        <input type="text" name="query" class="form-control" id="search-input" placeholder="Nhập tìm kiếm">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>